body {
  text-align: center;
  font-size: 16px;
}

img {
  border-radius: 45px;
  height: 150px;
  margin-bottom: 15px;
}


h2 {
  margin-top: -10px;
  margin-bottom: 0px;
}

h1 {
  font-size: 2.7em;
}

.email {
  margin-bottom: 20px;
}

li{
  display: block;
}

.contact li {
  display: inline-block;
  padding-left: 0px
  padding-right: 10px;
}