

body {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 100px;
}

#test-img {
  border-radius: 100px;
  height: 175px;
  margin-bottom: 15px;
  margin-top: -5px;
}

.screenshot {
  width: 85%;
  margin-bottom: 20px;
}

h1 {
  font-size: 58px;
}

h2 {
  margin-top: -15px;
  margin-bottom: 0px;
}

h2 small{
  font-size: 62%;
}

.panel-title small {
  font-weight: ;
  border-bottom-color: #f3f3f3;
  border-top-color: #f3f3f3;
}

.panel .panel-heading:hover {
  background-color: #f3f3f3;
}

.panel-body {
  border: 0;
}

.panel-default {
  border: 0; 
}

.panel-collapse {
  background-color: #fcfcfc;
  border: 0;
}

h4 {
  font-weight: 300;
  font-size: 19px;
}

.panel-title {
  font-size: 18px;
  color: #d9230f;
}

a:hover,
a:focus {
  color: #91170a;
  text-decoration: underline;
}

.email {
  margin-bottom: 20px;
}

.lead {
  line-height: 1.6;
  font-weight: 30;
}

.portfolio {
  margin-top: 10px;
}
.info {
  margin-left: 0px;
}

li {
  display: block;
}

i {
  margin-top: 5px;
  margin-right: 15px;

}


.bounceInRight {
  -webkit-animation-delay: 0s;
}

.bounceInLeft {
  -webkit-animation-delay: 0s;
}



